/* TODO: Not implemented yet */
/* Can manually chnage the css file in index.html to try */

:root {
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e4e2e1;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393938;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1c1b;
  --md-sys-color-surface-container: #1f201f;
  --md-sys-color-surface-container-high: #2a2a29;
  --md-sys-color-surface-container-highest: #353534;
  --md-sys-color-on-surface: #e4e2e1;
  --md-sys-color-surface-variant: #434845;
  --md-sys-color-on-surface-variant: #c3c8c4;
  --md-sys-color-inverse-surface: #e4e2e1;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #8d928e;
  --md-sys-color-outline-variant: #434845;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bccac3;
  --md-sys-color-primary: #bccac3;
  --md-sys-color-on-primary: #27332e;
  --md-sys-color-primary-container: #000201;
  --md-sys-color-on-primary-container: #8d9a93;
  --md-sys-color-inverse-primary: #55615c;
  --md-sys-color-secondary: #c3c7c4;
  --md-sys-color-on-secondary: #2d312f;
  --md-sys-color-secondary-container: #3a3e3c;
  --md-sys-color-on-secondary-container: #ced2ce;
  --md-sys-color-tertiary: #c1c7d2;
  --md-sys-color-on-tertiary: #2b313a;
  --md-sys-color-tertiary-container: #000207;
  --md-sys-color-on-tertiary-container: #9197a2;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
}
