:root {
  --md-sys-color-background: #fbf9f8;
  --md-sys-color-on-background: #1b1c1b;
  --md-sys-color-surface: #fbf9f8;
  --md-sys-color-surface-dim: #dcd9d8;
  --md-sys-color-surface-bright: #fbf9f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f6f3f2;
  --md-sys-color-surface-container: #f0edec;
  --md-sys-color-surface-container-high: #eae8e7;
  --md-sys-color-surface-container-highest: #e4e2e1;
  --md-sys-color-on-surface: #1b1c1b;
  --md-sys-color-surface-variant: #dfe3e1;
  --md-sys-color-on-surface-variant: #434846;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #f3f0ef;
  --md-sys-color-outline: #737876;
  --md-sys-color-outline-variant: #c3c8c5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #55615e;
  --md-sys-color-primary: #247989;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #1d2826;
  --md-sys-color-on-primary-container: #a7b4b0;
  --md-sys-color-inverse-primary: #bdc9c6;
  --md-sys-color-secondary: #5b5f5e;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e1e4e2;
  --md-sys-color-on-secondary-container: #454948;
  --md-sys-color-tertiary: #000000;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #22262d;
  --md-sys-color-on-tertiary-container: #aeb1bb;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}